.header{
    display:flex;
    justify-content: space-between;
    border: 2px solid;
}
.logo {
    width: 100px;
}

.nav-items > ul {
    display:flex;
    list-style-type: none;
}
.nav-items > ul > li{
    margin: 10px;
    padding: 10px;

}
.rest-card,.shimmer-card{
  
    width:200px;
    
    background-color: rgba(183, 136, 173, 0.655);
    padding:10px;
    margin: 2px;
}
.rest-card:hover{
    border:1px solid bisque;
}
.rest-logo{
    width:100%;
    height: 200px;
}

.seach{
    padding:10px;
}

.rest-container{
    display: flex;
    flex-wrap: wrap;
}
.filter-btn{
    width:80px;
    height:40px;
    margin:20px;
}
.restaurant-overview{
    margin: 10px;
    max-width: 400ox;
    border:2px solid;
    font-size: 12px;

}
.menu-item-container{
    display: flex;
    margin: 15px;
    padding: 15px;
    max-width: 800px;
    border:2px solid;
    font-size: 12px;
}

.item-image{
    padding: 15px;
    height:200px;
    border-style: outset;
}